html {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  display: inline-block;
  color: #000;
  text-decoration: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  scroll-behavior: smooth;
  text-rendering: optimizespeed;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  display: block;
  max-width: 100%;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}
/* Variables for media breakpoints */
/* Common styles */
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.container-md,
.container-lg {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.container-lg {
  max-width: 1235px;
}

.container-md {
  max-width: 920px;
}

a {
  color: #8D96BD;
  text-decoration: none;
  /*
  &:active {
    color: pink !important;
    transition: .4s;
  }
  */
}

.list-unstyled {
  padding: 0;
  margin: 0;
  list-style: none;
}

.row {
  display: flex;
}

.col {
  width: 100%;
}

.d-flex {
  display: flex;
}

.justify-content-end {
  justify-content: flex-end;
}

.align-items-center {
  align-items: center;
}

/* Variables for media breakpoints */
/* Connect fonts */
@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../../fonts/OpenSans-SemiBold.woff") format("woff"), url("../../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/OpenSans-Bold.woff2") format("woff2"), url("../../fonts/OpenSans-Bold.woff") format("woff"), url("../../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Regular.woff2") format("woff2"), url("../../fonts/Roboto-Regular.woff") format("woff"), url("../../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Quicksand";
  src: url("../../fonts/Quicksand-Bold.woff2") format("woff2"), url("../../fonts/Quicksand-Bold.woff") format("woff"), url("../../fonts/Quicksand-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Quicksand";
  src: url("../../fonts/Quicksand-Medium.woff2") format("woff2"), url("../../fonts/Quicksand-Medium.woff") format("woff"), url("../../fonts/Quicksand-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Medium.woff2") format("woff2"), url("../../fonts/Roboto-Medium.woff") format("woff"), url("../../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Quicksand";
  src: local("Quicksand Regular"), local("Quicksand-Regular"), url("../../fonts/Quicksand-Regular.woff2") format("woff2"), url("../../fonts/Quicksand-Regular.woff") format("woff"), url("../../fonts/Quicksand-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.header {
  padding: 27px 0;
  border: 1px solid #D8E3FE;
  font-family: "Quicksand", sans-serif;
  font-size: 12px;
}
.header__navigation {
  gap: 73px;
}
.header__navigation-logo a {
  display: inline-block;
  width: 26px;
  height: 26px;
  background-color: #5E81FE;
  border-radius: 50%;
}
.header__navigation-logo a:hover {
  background-color: mediumorchid;
  transform: scale(1.5);
  transition: 0.5s;
}
.header__navigation nav ul {
  gap: 42px;
}
.header__navigation nav ul a.active, .header__navigation nav ul a:hover:not(.active) {
  font-weight: 700;
  color: #5E81FE;
}
.header__navigation nav ul a:hover:not(.active) {
  font-weight: 400;
  transition: 0.5s;
  transform: scale(1.5);
}
.header__social {
  gap: 44px;
}
.header__social-icons ul {
  gap: 38px;
}
.header__social-cta a {
  background-color: #D2E1FF;
  color: #3A79FF;
  display: inline-block;
  border-radius: 2px;
  padding: 13px 21px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 13px;
  font-weight: 700;
}

.header {
  /*
  &__navigation {

    nav {
      display: none;
    }

  }


  &__media-menu-btn:checked + nav {
    display: initial;
  }
  */
}
.header__media-menu-btn {
  display: none;
}
@media (min-width: 875px) {
  .header [for=media-menu-btn] {
    display: none;
  }
  .header .hidden-desktop {
    display: none;
  }
}
@media (max-width: 875px) {
  .header {
    position: relative;
    min-height: 83px;
    max-height: 83px;
  }
  .header__social-cta {
    display: none;
  }
  .header .row {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .header__social {
    /*
    min-width: 328px;
     */
    width: initial;
  }
  .header [for=media-menu-btn] {
    background: #D2E1FF;
    border-radius: 2px;
    padding: 13px 21px;
    color: #3A79FF;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .header__navigation {
    width: 18%;
    min-width: 140px;
    gap: 30px;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  .header__navigation nav {
    width: 100%;
    display: none;
    position: absolute;
    top: 83px;
    left: 0;
    background: linear-gradient(101.48deg, #E9EFFF 41.56%, #E0E9FF 81.53%);
  }
  .header__navigation nav ul {
    flex-direction: column;
    gap: 0;
  }
  .header__navigation nav a {
    display: block;
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
  }
  .header__navigation nav a:hover {
    background: linear-gradient(229.32deg, #6888FF 12.77%, #6888FF 81.53%);
    transition: 0.5s;
    color: white !important;
  }
  .header__media-menu-btn:checked + nav {
    display: initial;
  }
}

.banner {
  height: 100vh;
  max-height: 570px;
  width: 100vw;
  background: url("../../../assets/images/banner_background.png") no-repeat 100% 100%;
  background-size: cover;
  resize: none;
}
.banner .container-md {
  padding-top: 92px;
  padding-bottom: 200px;
}
.banner .container-md .banner__text p {
  text-align: center;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #3D4F9F;
}
.banner .container-md .banner__title h1 {
  text-align: center;
  font-size: 48px;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  color: #3D4F9F;
}
.banner .container-md .banner__title h1 span {
  font-weight: 500;
}
.banner .container-md .banner__description p {
  text-align: center;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #8D96BD;
  width: 100%;
  max-width: 502px;
  margin: 18px auto 0;
}
.banner .container-md .banner__play {
  text-align: center;
}
.banner .container-md .banner__play a:hover {
  opacity: 0.5;
}

/*# sourceMappingURL=stylesheet.css.map */
