.footer {
  border-top: 1px solid #E8ECF4;
  padding: 100px 0 100px 0;
  &__logo-icons {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 60px;
  }
  &__networks {
    .list-unstyled {
      gap: 25px;
    }
    .list-unstyled a svg path {
      &:hover {
        fill: #4D6CE1;
      }
    }
  }
  &__copyrights p {
    opacity: 0.7;

    font-family: $font-quicksand;
    font-weight: 500;
    font-size: $font-xs;
    line-height: 15px;
    display: flex;
    text-transform: capitalize;

    color: #AEB8D0;
  }
}