.companies {
  padding: 60px 0 60px 0;
  .container-md {
    display: flex;
    justify-content: center;
    gap: 76px;
  }
  figure a svg path {
    fill: #8D96BD;
    &:hover {
      fill: #4D6CE1;
    }
  }
}