/* Connect fonts */

@font-face {
  font-family: 'Open Sans';
  src: url('../../fonts/OpenSans-SemiBold.woff2') format('woff2'),
  url('../../fonts/OpenSans-SemiBold.woff') format('woff'),
  url('../../fonts/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../../fonts/OpenSans-Bold.woff2') format('woff2'),
  url('../../fonts/OpenSans-Bold.woff') format('woff'),
  url('../../fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/Roboto-Regular.woff2') format('woff2'),
  url('../../fonts/Roboto-Regular.woff') format('woff'),
  url('../../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../../fonts/Quicksand-Bold.woff2') format('woff2'),
  url('../../fonts/Quicksand-Bold.woff') format('woff'),
  url('../../fonts/Quicksand-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../../fonts/Quicksand-Medium.woff2') format('woff2'),
  url('../../fonts/Quicksand-Medium.woff') format('woff'),
  url('../../fonts/Quicksand-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/Roboto-Medium.woff2') format('woff2'),
  url('../../fonts/Roboto-Medium.woff') format('woff'),
  url('../../fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: local('Quicksand Regular'), local('Quicksand-Regular'),
  url('../../fonts/Quicksand-Regular.woff2') format('woff2'),
  url('../../fonts/Quicksand-Regular.woff') format('woff'),
  url('../../fonts/Quicksand-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


/* Bootstrap icons */

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");