@import "variables";



/* Common styles */

body {
  font-family: $main-font;
  font-weight: 400;
  font-size: $font-md;
}

.container-md,
.container-lg {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.container-lg {
  max-width: $container-lg-width;
}

.container-md {
  max-width: $container-md-width;
}
.row {
  display: flex;
}