


.header {
  &__media-menu-btn {
    display: none;
  }

  @media (min-width: $tablet-screen-size) {
    [for="media-menu-btn"] {
      display: none;
    }

    .hidden-desktop {
      display: none;
    }
  }

  /*
  &__navigation {

    nav {
      display: none;
    }

  }


  &__media-menu-btn:checked + nav {
    display: initial;
  }
  */

  @media (max-width: $tablet-screen-size) {

    nav {
      z-index: 100;
      box-shadow: 0 13px 14px -11px rgb(0, 0, 0, 62%);
    }

    &__wrapper {
      position: relative;
    }
    & {
      min-height: $header_height;
      max-height: $header_height;
    }
    &__social-cta {
      display: none;
    }
    .row {
      flex-wrap: wrap;
      justify-content: space-between;
    }


        &__social {
          /*
          min-width: 328px;
           */
          width: initial;
        }

      & [for="media-menu-btn"] {
        background: #D2E1FF;
        border-radius: 2px;
        padding: 13px 21px;
        color: #3A79FF;
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
      }

      &__navigation {
        width: 18%;
        min-width: 140px;
        gap: 30px;
        flex-direction: row-reverse;
        justify-content: flex-end;

        nav {
          width: 100%;
          display: none;
          position: absolute;
          top: $header_height;
          left: 0;
          background: linear-gradient(101.48deg, #E9EFFF 41.56%, #E0E9FF 81.53%);

          ul {
            flex-direction: column;
            gap: 0;
          }

          a {
            display: block;
            text-align: center;
            padding: 10px 0;
            font-size: $font-tablet-size;

            &:hover {
              background: linear-gradient(229.32deg, #6888FF 12.77%, #6888FF 81.53%);
              transition: $accent-transition;
              color: white !important;
            }
          }
        }
      }

      &__media-menu-btn {
        &:checked {
          & + nav {
            display: initial;
          }
        }
      }
    }
  }