.header {
  padding: 27px 0;
  border: 1px solid #D8E3FE;
  font-family: $font-quicksand;
  font-size: $font-sm;

  &__navigation {
    gap: 73px;
    &-logo {
      $logo-dimensions: 26px;
      a {
        display: inline-block;
        width: $logo-dimensions;
        height: $logo-dimensions;
        background-color: $secondary-accent-color;
        border-radius: 50%;

        &:hover {
          background-color: mediumorchid;
          transform: scale(1.5);
          transition: .5s;
        }
      }
    }
    nav {
      ul {
        gap: 42px;

        a {
          &.active,
          &:hover:not(.active) {
            font-weight: 700;
            color: $secondary-accent-color;
          }
          &:hover:not(.active) {
            font-weight: 400;
            transition: .4s;
            transform: scale(1.5);
          }
        }
      }
    }
  }

  &__social {
    gap: 44px;
    &-icons {
      ul {
        gap: 38px;
      }
    }

    &-cta {
      a {
        background-color: #D2E1FF;
        color: #3A79FF;
        display: inline-block;
        border-radius: 2px;
        padding: 13px 21px;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        font-size: 13px;
        font-weight: 700;
        }
      }
    }
  }

