.header {
  border: 1px solid #D8E3FE;
  font-family: $font-quicksand;
  font-size: $font-sm;
  max-height: $header-height;
  min-height: $header-height;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 99;
  &__wrapper {
    padding: 18px 0;
  }

  &__navigation {
    gap: 73px;
    &-logo {
      $logo-dimensions: 26px;
      a {
        display: inline-block;
        width: $logo-dimensions;
        height: $logo-dimensions;
        background-color: $secondary-accent-color;
        border-radius: 50%;

        &:hover {
          background-color: mediumorchid;
          transform: scale(1.3);
          transition: $accent-transition;
        }
      }
    }
    nav {
      ul {
        gap: 42px;

        a {
          &.active,
          &:hover:not(.active) {
            font-weight: 700;
            color: $secondary-accent-color;
          }
          &:hover:not(.active) {
            font-weight: 400;
            transition: $accent-transition;
            transform: scale(1.2);
          }
        }
      }
    }
  }

  &__social {
    gap: 44px;
    &-icons {
      ul {
        gap: 38px;
      }
      li a svg path {
        fill: #A4ABC8;
        &:hover {
          fill: #4D6CE1;
        }
      }
    }


    &-cta {
      a {
        background-color: #D2E1FF;
        color: #3A79FF;
        display: inline-block;
        border-radius: 2px;
        padding: 13px 21px;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        font-size: 13px;
        font-weight: 700;
        }
      }
    }
  }

